@import "../variables/variables";

body {
  font-family: "Inter", sans-serif;
}

main {
  background-color: var(--mint-condition);
  width: 100vw;
}

h2 {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -0.8px;
  line-height: 80px;
  text-transform: uppercase;
  color: var(--green-pea);
}

h3 {
  font-weight: 900;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 20px;
  letter-spacing: -0.8px;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  font: 700;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 18px;
  letter-spacing: -0.8px;
}

p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 26px;
  letter-spacing: -0.4px;
}

.quote {
  height: auto;
  font-size: 1.5rem;
  font-weight: 900;
  font-style: italic;
  color: var(--mint-condition);
  letter-spacing: -0.8px;
  line-height: 32px;
}

.quotation-mark-left,
.quotation-mark-right {
  color: var(--mint-condition);
  font-size: 4rem;
  font-weight: 900;
  line-height: 116px;
  letter-spacing: -0.8px;
  font-style: italic;
}

button {
  color: var(--onyx);
  width: 129px;
  height: 40px;
  border-radius: 7px;
  border: 2px solid var(--onyx);
  box-shadow: 0 5px var(--onyx);
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 22px;
  text-align: center;
}

.primary-btn {
  background-color: var(--burnt-yellow);
}

.primary-btn:hover {
  background-color: var(--flamingo);
}

.secondary-btn {
  background-color: var(--flamingo);
}

.secondary-btn:hover {
  background-color: var(--salmon);
}

.clicked-primary-btn {
  // Or try box-shadow: none, if needed
  box-shadow: 0 0 var(--onyx);
}

.clicked-secondary-btn {
  box-shadow: 0 0 var(--onyx);
}

.hyperlink {
  font-size: 1.125rem;
  color: var(--mint-condition);
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
}

.hyperlink:hover {
  text-decoration: overline underline;
  text-underline-offset: 5px;
}

.hyperlink:active,
.hyperlink:visited {
  text-decoration: underline;
}

.hidden {
  visibility: hidden;
}

// Till måndag: jag tror att man måste lägga till en klass i JS när knappen klickas på
// dvs hämta knappen till JS, skriv funktion som lägger till klassen t ex primary-btn-clicked
// med klickevent för att kunna ändra styling när den klickas på


//----------------------------------- COOKIE-BAR --------------------------------//

.cookie-bar {

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999; 
  display: flex;
  flex-direction: column;
  align-items: center;
  

  .cookie-img {
    width: 118px;
    height: auto;
    position: relative;
    top: 40px;
  }

  .cookie-container {
    background-color: var(--flamingo);
    color: var(--mint-condition);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 0 8px 8px 0;

    p {
      text-align: center;
      line-height: 22px;
      letter-spacing: -0.8px;
      width: 272px;
      margin-top: 47px;
    }

    button {
      background-color: var(--salmon);
      margin-top: 20px;
      margin-bottom: 45px;
      width: 177px;
      height: 44px;
    }
  }
}


//----------------------------------- HEADER --------------------------------//
header {
  height: 567px;
  width: 100vw;
  overflow: hidden;
  .background-image {
    background-image: url("/assets/background-header/background-header.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -505px 0;
    height: 567px;
    width: 1395.79px;
    display: flex;

    div {
      width: 100vw;
      height: 185px;
      display: flex;
      justify-content: center;
      margin-top: 59px;
    }

    .logotype-header {
      height: 185px;
      width: 212px;
      top: 59px;
    }

    .menu-closed {
      width: 92px;
      height: 58px;
      top: 288px;
      left: 206px;
      position: absolute;
      transition: transform 800ms ease;
    }

    .menu-closed:hover {
      transform: rotate(-15deg) scale(1.05);
    }
  }
}

.open-menu.hidden {
  display: none;
}

.open-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--salmon);
  opacity: 95%;
  backdrop-filter: blur(70px);
  z-index: 4;

  span {
    position: absolute;
    right: 0;
    margin: 15px;
    font-size: 50px;
    color: var(--dark-pine);
  }

  .menu-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .hyperlink {
      color: var(--dark-pine);
      padding: 10px;
      text-align: center;
    }
  }
}

.scroll-menu {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
  z-index: 9;
}


//----------------------------------- FIRST-SECTION --------------------------------//
.sf-curves-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: end;
}
.fs-curve {
  position: relative;
  bottom: 102px;
  z-index: 1;
  margin-left: 0;
}

.fs-curve-light {
  position: relative;
  bottom: 203.5px;
  z-index: 2;
  margin-right: 0;
}

.arrow-1-container {
  width: 62vw;
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: start;
  position: relative;
  bottom: 285px;
  max-width: 330px;

  .arrow-1 {
    width: 100%;
    max-height: 118px;
  }
}

.first-section {
  height: 1115px;
  background-color: var(--burnt-yellow);
  border-radius: 100px 0 0 0;
  // increase grey area between elements
  border-top: 30px solid var(--mint-condition);
  border-bottom: 10px solid rgba(255, 255, 255, 0.5);
  position: relative;
  bottom: 387.5px;

  .fs-parent-heading {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 35px;
  }

  .fs-first-heading {
    width: 336px;
    height: 281px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px 0 0 36px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  h1 {
    color: var(--green-pea);
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    line-height: 2.5rem;
    letter-spacing: -0.8px;
    width: 218px;
    height: 162px;
    text-align: right;
  }

  .arrow-2-container {
    width: 100%;
    position: relative;
    z-index: 2;
    bottom: 85px;
    left: -13px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .fs-image-couch {
    border-radius: 0 30px 30px 0;
    margin-top: 40px;
    position: relative;
    bottom: 530px;

    .soft-couch {
      position: relative;
      left: -40px;
      width: 421px;
      height: 315px;
      border-radius: 0 30px 30px 0;
      outline: 10px solid rgba(255, 255, 255, 0.5);
    }
  }

  .fs-paragraph-parent {
    margin-top: 40px;
    display: flex;
    justify-content: right;
    position: relative;
    bottom: 530px;
  }

  .fs-paragraph {
    width: 336px;
    height: 326px;
    background-color: var(--dark-pine);
    border-radius: 36px 0 0 36px;
    border: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 10px solid rgba(255, 255, 255, 0.5);
  }

  .fs-text {
    width: 274.82px;
    height: 261px;
    color: var(--mint-condition);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.4px;
  }
}

//----------------------------------- COMMISSIONS --------------------------------//

.commission {
  background-color: var(--dark-pine);
  z-index: 1;
  position: relative;
  bottom: 387.5px;

  .background-pattern-commission {
    background-image: url("/assets/background-pattern/boxpattern.png");
    background-repeat: repeat;
    background-size: 87px;
    width: 100vw;
    // Kommenterat ut för att få bilderna att funka, ändra färg på mönstret istället?
    //opacity: 50%;
    display: flex;
    justify-content: center;
    .dark-green-box {
      background-color: var(--dark-pine);
      width: 90.7vw;
      max-width: 578px;
      height: 1565px;
      margin-top: 75px;
      margin-bottom: 120px;
      opacity: 1;
    }
  }
}

.commissions-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 77px;
  // Funkar inte!
  opacity: 1 !important;
  //z-index: 2;
  .commissions-heading {
    position: relative;
    bottom: 42px;
    z-index: 1;
    left: -23px;
  }
  .commissions-imgs {
    img {
      // Funkar inte!
      //opacity: 1 !important;
      position: relative;
      bottom: 205px;
    }
    .commission-img1 {
      height: 493px;
      width: 300px;
      margin-bottom: 20px;
    }
    .tape-1 {
      width: 114px;
      height: 28px;
      background-color: var(--flamingo);
      z-index: 3;
      position: relative;
      top: -248px;
      left: -16px;
    }
    .tape-2 {
      width: 57px;
      height: 25px;
      background-color: var(--dark-pine);
      z-index: 3;
      position: relative;
      bottom: 220px;
      left: 250px;
    }
    .commission-img2 {
      width: 300px;
      height: 450px;
      position: relative;
      bottom: 260px;
    }
    .commission-img3 {
      width: 298px;
      height: 429px;
      position: relative;
      bottom: 242px;
    }
    .tape-3 {
      width: 114px;
      height: 28px;
      background-color: var(--flamingo);
      z-index: 3;
      position: relative;
      bottom: 255px;
      left: 92px;
    }
  }

  .show-more-btn {
    position: relative;
    bottom: 195px;
  }

  .arrow-3-container {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 306px;
    left: 4px;
  }
}

//----------------------------------- SERVICES --------------------------------//

.services {
  background-color: var(--burnt-yellow);
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 387.5px;
  border-top: 10px solid rgba(255, 255, 255, 0.5);
 

  .wowza-container {
    display: flex;
    justify-content: right;
  }

  //-- wowza! --//
  .wowza-p-container {
    width: 89.6vw;
    height: 312.15px;
    background-color: var(--dark-pine);
    margin-top: 30px;
    outline: 10px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px 0 0 36px;
    .wowza {
      width: 235.7px;
      .services-quotation-mark-left {
        position: relative;
        top: 71px;
        left: -20px;
        z-index: 2;
      }
      .quote {
        position: relative;
        left: 20px;
      }
      .services-quotation-mark-right {
        transform: rotate(180deg);
        position: relative;
        z-index: 2;
        bottom: 83px;
        left: 25px;
      }
    }
  }

  //-- juices --//
  .juice-container {
    margin-top: 40px;

    .juice-img-container {
      img {
        position: relative;
        left: -40px;
        outline: 10px solid rgba(255, 255, 255, 0.5);
        border-radius: 0 30px 30px 0;
      }
    }
  }

  .arrow-4-container {
    width: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: end;
    bottom: 49px;
    left: -10px;
    max-width: 375px;
  }

  //-- SERVICES --//

  .services-heading {
    width: 335px;
    height: 281px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 36px 100px 0;
    position: relative;
    bottom: 221px;
    z-index: 2;
    .services-italic {
      position: relative;
      right: 12px;
    }
  }
  .services-heading-curve {
    background-color: var(--burnt-yellow);
    border-radius: 0 0 100px 0;
    z-index: 1;
    height: 100px;
    width: 100vw;
    position: relative;
    bottom: 290px;
  }

  .services-curves-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 4;
    align-items: start;

    .services-curve {
      position: relative;
      top: -300px;
      margin-left: 0;
      transform: rotate(180deg);
    }
    .services-curve-light {
      position: relative;
      bottom: 457px;
      margin-right: 0;
      transform: rotate(180deg);
    }
  }

  .services-text-container {
    width: 100vw;
    height: 570px;
    background-color: var(--mint-condition);
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 650px;
    z-index: 0;

    .services-text-first-part,
    .services-text-second-part {
      width: 258px;
      height: auto;
      bottom: -150px;
      font-family: "Inter", sans-serif;
      color: var(--dark-pine);
      font-weight: 500;
      align-self: center;
      font-size: 1.125rem;
      line-height: 26px;
      position: relative;
      letter-spacing: -0.4px;
    }

    .services-text-first-part {
      bottom: -170px;
    }

    .services-text-second-part {
      bottom: -200px;
    }
  }
  .services-curve {
    position: relative;
    top: -90px;
    height: 135px;
  }

  .services-paragraph-curve {
    background-color: var(--burnt-yellow);
    border-radius: 0 100px 0 0;
    z-index: 2;
    height: 100px;
    width: 100vw;
    position: relative;
    bottom: 906.5px;
  }

  .services-paragraph-curve-mint {
    background-color: var(--mint-condition);
    z-index: 1;
    height: 100px;
    width: 100vw;
    position: relative;
    bottom: 1020px;
  }

  .services-curves-container-2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    z-index: 4;
    align-items: start;

    .services-curve-2 {
      position: relative;
      top: -785px;
      transform: rotate(90deg);
      z-index: 5;
      left: -20px;
    }
    .services-curve-2-mint {
      position: relative;
      bottom: 897px;
      transform: rotate(90deg);
      z-index: 6;
      left: -47px;
    }
  }

  .services-circles {
    width: 100vw;
    background-color: var(--mint-condition);
    border-radius: 0 100px 100px 0;
    border-right: 11px solid var(--burnt-yellow);
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    bottom: 1078px;
    z-index: 2;

    .services-ellipse-1,
    .services-ellipse-2,
    .services-ellipse-3 {
      margin: 0 43px;
    }

    .services-ellipse-1 {
      position: relative;
      right: 40px;
    }

    .services-ellipse-2 {
      position: relative;
      left: 20px;
    }

    .services-ellipse-3 {
      position: relative;
      right: 10px;
    }
  }

  .services-bottom-curve-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: start;
    position: relative;
    top: -1079px;
    left: -41.5px;


    .services-bottom-curve {
      margin-left: 0;
      transform: rotate(180deg);
    }
  }
}

.arrow-5-container {
  width: 100%;
  position: relative;
  z-index: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 1675px;
  left: -10px;
  max-width: 375px;
}

//----------------------------------- REVIEWS --------------------------------//

.reviews {
  background-color: var(--burnt-yellow);
  color: var(--mint-condition);
  position: relative;
  bottom: 1775px;

  .border-bottom-over-contact {
    border-bottom: 50px solid rgba(255, 255, 255, 0.5);
    position: relative;
    bottom: 150px;
  }

  .first-review-container,
  .second-review-container {
    display: flex;
  }

  .first-review-container {
    justify-content: right;

    .first-review-p-container {
      width: 87vw;
      height: 292px;
      background-color: var(--dark-pine);
      margin-top: 40px;
      outline: 10px solid rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 36px 0 0 36px;
    }


    .review-1-quotation-mark-left {
      position: relative;
      top: -90px;
      left: 13px;
      z-index: 2;
    }
    .quote {
      position: relative;
      left: 20px;
      width: 260px;
    }
    .review-1-quotation-mark-right {
      transform: rotate(180deg);
      position: relative;
      z-index: 2;
      bottom: -88px;
      left: -4px;
    }

  }

  .second-review-container {
    height: 420px;
    justify-content: left;

    .second-review-p-container {
      width: 336px;
      background-color: var(--dark-pine);
      margin-top: 40px;
      outline: 10px solid rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 36px 36px 0;
    }

    .review-2-quotation-mark-left {
      position: relative;
      top: -135px;
      left: 10px;
      z-index: 2;
    }
    .quote {
      position: relative;
      left: 20px;
      width: 260px;
      height: 277px;
    }
    .review-2-quotation-mark-right {
      transform: rotate(180deg);
      position: relative;
      z-index: 2;
      bottom: -133px;
      left: -7px;
    }
  }

  .arrow-6-container {
    width: 100%;
    position: relative;
    z-index: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 10px;
    bottom: 20px;
    max-width: 375px;

  }
}

//----------------------------------- CONTACT --------------------------------//

.contact {
  background-color: var(--burnt-yellow);
  color: var(--dark-pine);
  position: relative;
  bottom: 1925px;
  height: 390px;

  .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .background-pattern-commission {
    background-image: url("/assets/background-pattern/boxpattern.png");
    background-repeat: repeat;
    background-size: 87px;
    width: 100vw;
    // Kommenterat ut för att få bilderna att funka, ändra färg på mönstret istället?
    //opacity: 50%;
    display: flex;
    justify-content: center;
  }

  h2 {
    color: var(--dark-pine);
    margin-top: 60px;
  }

  .lamp {
    position: relative;
    bottom: 155px;
    left: 111px;
  }

  #lampSVG {
    cursor: pointer;
  }
  
  @keyframes turnOnBlink {
    0%,
    100% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
  }
  
  @keyframes turnOn {
    0%,
    100% {
      opacity: 1;
    }
  }
  
  @keyframes turnOff {
    0%,
    100% {
      opacity: 0;
    }
  }
  
  #lampRay {
    animation: turnOff 1s forwards;
  }
  
  #lampRay.lampOn {
    animation: turnOn 1s forwards;
  }
  #lampRay.lampOn.blinking {
    animation: turnOnBlink 0.5s infinite;
  }
  

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      background-color: rgba(0, 0, 0, 0);
      border: 3px solid var(--dark-pine);
      border-radius: 16px;
      height: 40px;
      width: 286px;
      margin-bottom: 30px;
      position: relative;
      bottom: 130px;
    }

    input::placeholder {
      text-indent: 10px;
      font-weight: bold;
      color: var(--dark-pine);
    }

    button {
      background-color: var(--flamingo);
      margin-bottom: 50px;
      position: relative;
      bottom: 160px;
    }
  }
}

//----------------------------------- FOOTER --------------------------------//

footer {
  background-color: var(--dark-pine);
  color: var(--mint-condition);
  padding: 95px 0 0 0;
  position: relative;
  bottom: 1925px;
  height: 1042px;
}

.footer-logo-container {
  width: 100vw;
  .footer-logo {
    opacity: 10%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 170px;
  }
}

.journey-container {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  position: relative;
  bottom: 200px;

  h3 {
    padding-bottom: 24px;
  }

  .hyperlink {
    padding-bottom: 13px;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  margin-left: 45px;
  position: relative;
  bottom: 200px;

  h3 {
    padding-bottom: 24px;
  }

  .hyperlink {
    padding-bottom: 13px;
  }
}

.social-container {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  padding-left: 45px;
  position: relative;
  bottom: 200px;

  h3 {
    padding-bottom: 24px;
  }
  .social-icons-container {
    display: flex;
    flex-direction: row;
    gap: 17px;
  }
}

.sign-up-container {
  padding: 63px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 200px;

  h3 {
    padding-bottom: 20px;
    text-align: center;
    width: 285px; // INCORRECT LINE-BREAK
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      background-color: rgba(0, 0, 0, 0);
      border: 3px solid var(--mint-condition);
      border-radius: 16px;
      height: 40px;
      width: 286px;
    }

    input::placeholder {
      text-indent: 10px;
      font-weight: bold;
      color: var(--mint-condition);
    }

    button {
      align-self: center;
    }
  }
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 42px;
  position: relative;
  bottom: 145px;

  p {
    font-size: 0.875rem;
    color: var(--mint-condition);
    opacity: 70%;
  }
}

//----------------------------------- COOKIE-BAR --------------------------------//

//----------------------------------- OPEN-MENU --------------------------------//
